:root {
  --md-sys-color-primary: rgb(148, 148, 0) !important;
  --md-sys-color-secondary: olive !important;
  --md-sys-color-on-primary: #e8eaed !important;
  --md-sys-color-secondary-container: olive !important;
  --md-sys-color-on-secondary-container: #e8eaed !important;
}
@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-background: #141218;
    --md-sys-color-error: #f2b8b5;
    --md-sys-color-error-container: #8c1d18;
    --md-sys-color-inverse-on-surface: #322f35;
    --md-sys-color-inverse-primary: #6750a4;
    --md-sys-color-inverse-surface: #e6e0e9;
    --md-sys-color-on-background: #e6e0e9;
    --md-sys-color-on-error: #601410;
    --md-sys-color-on-error-container: #f9dedc;
    --md-sys-color-on-primary: #381e72;
    --md-sys-color-on-primary-container: #eaddff;
    --md-sys-color-on-primary-fixed: #21005d;
    --md-sys-color-on-primary-fixed-variant: #4f378b;
    --md-sys-color-on-secondary: #332d41;
    --md-sys-color-on-secondary-container: #e8def8;
    --md-sys-color-on-secondary-fixed: #1d192b;
    --md-sys-color-on-secondary-fixed-variant: #4a4458;
    --md-sys-color-on-surface: #e6e0e9;
    --md-sys-color-on-surface-variant: #cac4d0;
    --md-sys-color-on-tertiary: #492532;
    --md-sys-color-on-tertiary-container: #ffd8e4;
    --md-sys-color-on-tertiary-fixed: #31111d;
    --md-sys-color-on-tertiary-fixed-variant: #633b48;
    --md-sys-color-outline: #938f99;
    --md-sys-color-outline-variant: #49454f;
    --md-sys-color-primary: #d0bcff;
    --md-sys-color-primary-container: #4f378b;
    --md-sys-color-primary-fixed: #eaddff;
    --md-sys-color-primary-fixed-dim: #d0bcff;
    --md-sys-color-scrim: #000;
    --md-sys-color-secondary: #ccc2dc;
    --md-sys-color-secondary-container: #4a4458;
    --md-sys-color-secondary-fixed: #e8def8;
    --md-sys-color-secondary-fixed-dim: #ccc2dc;
    --md-sys-color-shadow: #000;
    --md-sys-color-surface: #141218;
    --md-sys-color-surface-bright: #3b383e;
    --md-sys-color-surface-container: #211f26;
    --md-sys-color-surface-container-high: #2b2930;
    --md-sys-color-surface-container-highest: #36343b;
    --md-sys-color-surface-container-low: #1d1b20;
    --md-sys-color-surface-container-lowest: #0f0d13;
    --md-sys-color-surface-dim: #141218;
    --md-sys-color-surface-tint: #d0bcff;
    --md-sys-color-surface-variant: #49454f;
    --md-sys-color-tertiary: #efb8c8;
    --md-sys-color-tertiary-container: #633b48;
    --md-sys-color-tertiary-fixed: #ffd8e4;
    --md-sys-color-tertiary-fixed-dim: #efb8c8;
    --md-sys-color-primary: olive !important;
  }
}

body {
  display: flex;
  justify-content: center;
  height: 100dvh;
  margin: 0;
  font-family: Roboto, sans-serif;
}

h1 {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
}

md-icon#busIcon {
  font-size: 36px;
  overflow: visible;
  margin-right: 10px;
}

.container {
  width: 300px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.container.visible {
  animation: slideIn 0.5s forwards;
}
.container.hidden {
  animation: slideOut 0.5s forwards;
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#showMap {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
}

#map {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.map-icon {
  width: 40px;
  height: 20px;
  line-height: 20px;
  background-color: rgba(128, 64, 0, 0.8);
  color: var(--md-sys-color-on-primary);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.map-icon.tram {
  background-color: rgba(0, 64, 128, 0.8);
}

.location-marker {
  width: 12px;
  height: 12px;
  background-color: rgb(175, 175, 0);
  border: 2px solid var(--md-sys-color-on-primary);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(175, 175, 0, 0.75);
  position: relative;
}

.pulsating-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  margin-left: -12px;
  border-radius: 50%;
  background-color: rgba(175, 175, 0, 0.5);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.3;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.leaflet-bar a {
  border: none;
}

.leaflet-tooltip {
  font-size: 1.2em;
  border: none;
}

.list-item {
  padding: 10px 0;
}

.list-item span {
  flex: 1;
}

#findButton {
  margin-top: 10px;
  height: 40px;
}

md-circular-progress {
  --md-circular-progress-size: 32px;
}

#result {
  display: inline-block;
  margin-bottom: 20px;
}

.vehicle-row {
  display: flex;
  justify-content: space-between;
  margin: 16px auto 0 auto;
  align-items: flex-end;
}

.label {
  font-weight: bold;
  width: 150px;
}

.highlight {
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(167, 167, 46);
}

#dialog {
  display: none;
}

@media (max-width: 600px) {
  .container {
    position: absolute;
    height: 100%;
    width: calc(100% - 40px);
    border-radius: 0;
  }
  #showMap {
    display: block;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: var(--md-sys-color-on-primary);
  }
  .container {
    background-color: #1e1e1e;
  }
  .map-icon {
    background-color: rgba(202, 112, 22, 0.8);
  }
  .map-icon.tram {
    background-color: rgba(30, 113, 196, 0.8);
  }
  .location-marker {
    border: 2px solid rgb(50, 50, 50);
  }
  .leaflet-bar a {
    border: none;
    background-color: rgb(30, 30, 30);
    color: var(--md-sys-color-on-primary);
  }
  .leaflet-bar a:hover, .leaflet-bar a:focus {
    background-color: rgb(18, 18, 18);
  }
  .leaflet-bar a.leaflet-disabled {
    background-color: rgb(50, 50, 50);
  }
  .leaflet-tooltip {
    background-color: rgb(30, 30, 30);
    color: var(--md-sys-color-on-primary);
  }
  .leaflet-tooltip.leaflet-tooltip-top:before {
    border-top-color: rgb(30, 30, 30);
  }
  .leaflet-container {
    background-color: rgb(18, 18, 18);
  }
  .leaflet-container a {
    color: var(--md-sys-color-on-primary);
  }
  .leaflet-container .leaflet-control-attribution {
    color: var(--md-sys-color-on-primary);
    background-color: rgb(30, 30, 30);
  }
}

/*# sourceMappingURL=styles.css.map */
